*.csv
*.pptx
*.gdoc
*.pdf
**/.DS_Store
*.tar
*.ipynb_checkpoints
/wandb/*
**/wandb
**/VOCDevkit
**/VOCdevkit
**/*.code-workspace
**/*.vscode
**/*.tsv
**/*.md
**/*.zip
*.DS_Store
**/__pycache__
Week 4/__pycache__/networks.cpython-37.pyc
Week 4/__pycache__/utils.cpython-37.pyc
